.cv {
  padding: 1rem 15%;
}
.pack {
  background-color: white;
  margin: 1rem 0;
  border-radius: 1rem;
  padding: 1rem;
}
.intro {
  background-color: white;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1.5rem;
  padding: 1rem 1rem 0 1rem;
}
.flip-card {
  margin: 1rem 0;
  background-color: transparent;
  perspective: 1000px;
  display: flex;
  align-items: center;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.flip-card img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  object-fit: contain;
}
.flip-card-front {
  background-color: #4f598a;
  color: black;
  border-radius: 1rem;
}
.flip-card-back {
  background-color: #1b2450;
  transform: rotateY(180deg);
  border-radius: 1rem;
}
.flip-card-back .pack {
  margin: 1rem;
}
h2 {
  font-weight: 500;
  text-decoration: underline;
}
h3 {
  font-weight: 500;
  font-size: 20px;
}
p {
  font-size: 16px;
}

li {
  font-size: 18px;
}
::ng-deep .mat-progress-bar-fill::after {
  background-color: #1b2450;
}

/*::ng-deep .mat-progress-bar-buffer {
}

::ng-deep .mat-progress-bar {
}*/
:host ::ng-deep mat-progress-bar {
  border-radius: 1rem;
  height: 8px;
}
@media all and (min-width: 1024px) and (max-width: 1280px) {
  .cv {
    padding: 1rem 5%;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .cv {
    padding: 1rem 5%;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .cv {
    padding: 1rem 5%;
  }
}

@media all and (max-width: 480px) {
  .cv {
    padding: 1rem 5%;
  }
}
