<div class="cv">
  <div class="pack intro col-sm-12">
    <h2>A propos de moi</h2>
    <div>
      <p>Je m'appelle Arthur Quemeras et je suis un développeur web junior.</p>
    </div>
    <a href="../../assets/cv-arthur_quemeras.pdf" target="_blank"
      ><button>Télécharger mon CV</button></a
    >
  </div>

  <div class="row">
    <div class="pack col-sm-8">
      <div class="">
        <h2>Expérience professionnelle</h2>
        <h3>Développeur web</h3>
        <p>Item Média Concept à Mérignac - Décembre 2021 - Avril 2023</p>
      </div>
      <div class="">
        <h2>Autres Expériences</h2>
        <h3>Employé saisonnier polyvalent</h3>
        <p>Intermarché à Le Porge - saison été de 2017 à 2021</p>
      </div>
    </div>
    <div class="flip-card col-sm-4">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img
            src="https://t0.gstatic.com/licensed-image?q=tbn:ANd9GcTZCSmCzmIPm0up8wmW566cK5w3sSTUChT5UnaU3VnFxrHwoRNSnks0xUBmj2r2oeJk"
            alt=""
          />
        </div>
        <div class="flip-card-back"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="flip-card col-sm-4">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="../../assets/competence.png" alt="" />
        </div>
        <div class="flip-card-back"></div>
      </div>
    </div>
    <div class="pack col-sm-8">
      <div class="">
        <h2>Compétences</h2>
        <p>Angular</p>
        <p>React</p>
        <p>Sharepoint</p>
        <p>p</p>
        <p>p</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="pack col-sm-8">
      <h2>Formation</h2>
      <h3>Licence professionnelle DAWIN</h3>
      <p>IUT de Gradignan - 2021-2022</p>
      <p>Développement d'application web et innovation numérique</p>
      <h3>Master 1 informatique</h3>
      <p>Université de Bordeaux Talence - 2020-2021</p>
      <h3>Licence informatique</h3>
      <p>Université de Bordeaux à Talence - 2017-2020</p>
      <h3>BTS Géomètre topographe</h3>
      <p>Lycée Gustave Eiffel à Bordeaux - 2014-2016</p>
      <h3>Bac S</h3>
      <p>Lycée Sud médoc au Taillan-Médoc - 2011-2014</p>
    </div>
    <div class="flip-card col-sm-4">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img
            src="https://t0.gstatic.com/licensed-image?q=tbn:ANd9GcTZCSmCzmIPm0up8wmW566cK5w3sSTUChT5UnaU3VnFxrHwoRNSnks0xUBmj2r2oeJk"
            alt=""
          />
        </div>
        <div class="flip-card-back"></div>
      </div>
    </div>
  </div>
</div>
