.cv {
  padding: 1rem 0;
}
.pack {
  background-color: white;
  margin: 1rem 3rem;
  border-radius: 1rem;
  padding: 1rem;
}
.intro {
  text-align: center;
}
h2 {
  font-weight: 500;
  text-decoration: underline;
}
h3 {
  font-weight: 500;
}
