<div class="cv">
  <div class="intro">
    <a href="../../assets/cv-arthur_quemeras.pdf" target="_blank"
      ><button>Télécharger mon CV</button></a
    >
  </div>
  <div class="row">
    <div class="pack col-sm-8">
      <h2>Formation</h2>
      <h3>Licence professionnelle DAWIN</h3>
      <p>IUT de Gradignan : 2021 - 2022</p>
      <p>Développement d'application web et innovation numérique</p>
      <h3>Master 1 informatique</h3>
      <p>Université de Bordeaux Talence : 2020 - 2021</p>
      <h3>Licence informatique</h3>
      <p>Université de Bordeaux à Talence : 2017 - 2020</p>
      <h3>BTS Géomètre topographe</h3>
      <p>Lycée Gustave Eiffel à Bordeaux : 2014 - 2016</p>
      <h3>Bac S</h3>
      <p>Lycée Sud médoc au Taillan-Médoc : 2011 - 2014</p>
    </div>
    <div class="flip-card col-sm-4">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="../../assets/photo_arthur.JPG" alt="" />
        </div>
        <div class="flip-card-back">
          <div class="pack"><br />
            Arthur Quémeras
            <br /><br />33160 Saint Médard en
            Jalles
            <br /><br />
            arthur.quemeras@gmail.com <br /><br />
            06 44 87 08 04
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="flip-card col-sm-4">
      <div class="">
        <div class="">
          <img src="../../assets/competence.png" alt="" />
        </div>
      </div>
    </div>
    <div class="pack col-sm-8">
      <div class="row">
        <h2>Compétences informatiques </h2>
        <div class="col-sm-2">
          <p class="my-auto py-2">
            Angular
          </p>
        </div>
        <div class="col-sm-10 my-auto">
          <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
        </div>
        <div class="col-sm-2">
          <p class="my-auto py-2">
            React
          </p>
        </div>
        <div class="col-sm-10 my-auto">
          <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
        </div>
        <div class="col-sm-2">
          <p class="my-auto py-2">
            Sharepoint
          </p>
        </div>
        <div class="col-sm-10 my-auto">
          <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
        </div>
        <div class="col-sm-2">
          <p class="my-auto py-2">
            Powershell
          </p>
        </div>
        <div class="col-sm-10 my-auto">
          <mat-progress-bar mode="determinate" value="60"></mat-progress-bar>
        </div>
        <div class="col-sm-2">
          <p class="my-auto py-2">
            HTML
          </p>
        </div>
        <div class="col-sm-10 my-auto">
          <mat-progress-bar mode="determinate" value="85"></mat-progress-bar>
        </div>
        <div class="col-sm-2">
          <p class="my-auto py-2">
            CSS
          </p>
        </div>
        <div class="col-sm-10 my-auto">
          <mat-progress-bar mode="determinate" value="85"></mat-progress-bar>
        </div>
        <div class="col-sm-2">
          <p class="my-auto py-2">
            Typescript
          </p>
        </div>
        <div class="col-sm-10 my-auto">
          <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="pack col-sm-8">
      <div class="">
        <h2>Expérience professionnelle</h2>
        <h3>Développeur web</h3>
        <p>Item Média Concept à Mérignac : Décembre 2021 - Avril 2023</p>
        <br />
        <ul>
          <li>Développement front-end d'une application web avec Angular pour Adventera </li>
          <ul>
            <li>Réalisation d'écran de configuration</li>
            <li>Ajout de fonctionnalités</li>
            <li>Correction de bugs</li>
          </ul>
          <br />
          <li>Refonte du site intranet de l'ENM avec Sharepoint Server 2019 et React</li>
          <ul>
            <li>Réalisation de scripts en PowerShell</li>
            <li>Réalisation de webparts</li>
            <li>Résolution de bugs et correction d'anomalies</li>
            <li>Rédaction de la documentation technique</li>
          </ul>
          <br />
          <li>Refonte du site extranet du SMICVAL avec Sharepoint Server 2019 et React</li>
          <ul>
            <li>Réalisation de scripts en PowerShell</li>
            <li>Réalisation de webparts en React</li>
          </ul>
        </ul>
      </div>
    </div>
    <div class="flip-card col-sm-4">
      <div class="">
        <div class="">
          <img src="../../assets/job_web.jpg" alt="" />
        </div>
        <div class=""></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="flip-card col-sm-4">
      <div class="">
        <div class="">
          <img src="../../assets/job_saisonnier.jpg" alt="" />
        </div>
        <div class=""></div>
      </div>
    </div>
    <div class="pack col-sm-8">
      <div class="">
        <h2>Autres Expériences</h2>
        <h3>Employé saisonnier polyvalent</h3>
        <p>Intermarché à Le Porge - saisons d'été de 2017 à 2021</p>
      </div>
    </div>
  </div>

  <div class="pack">
    <p>
      Candidat atypique, rationnel, fiable sur l'exécutible, mon profil
      d'autiste Asperger (en cours de reconnaissance) apportera une plus-value à
      votre entreprise par une perception différente des problématiques et des
      propositions de solutions.
    </p>
    
      <ul>
        <li><img src="../../assets/thumb.svg" alt="">Mon discours : Direct</li>
        <li>Mes forces : Régularité et Persévérance</li>
        <li>Mon travail : Exécutif</li>
        <li>Mes points positifs : Mémoire et
      Connaissances</li>
      </ul>
    
  </div>
</div>
