header {
  background-color: rgb(52, 58, 64);
  font-weight: 500;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  transition: 0.5s;
  height: 128px;
  box-shadow: 0px 0px 30px black;
}
img {
  background-color: white;
  border-radius: 0.5rem;
  margin: 0 1rem;
}
.nav-link {
  color: white;
}
.nav-link:hover {
  color: lightgray;
  text-decoration: underline;
}
.active {
  background-color: white;
  border-radius: 1rem;
  color: black;
}
.active:hover {
  color: black;
  text-decoration: none;
}
