<header id="header" class="d-flex flex-wrap justify-content-center">
  <a
    href=""
    class="d-flex align-items-center mb-md-0 me-md-auto text-white text-decoration-none"
  >
    <div id="box" class="box">
      <span></span>
      <h2 id="h2">A</h2>
    </div>
  </a>

  <ul class="nav align-items-center">
    <li class="nav-item" *ngFor="let link of navLinks">
      <a
        *ngIf="link.visible"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-link"
        routerLink="{{link.link}}"
      >
        {{ link.label}}
      </a>
    </li>
  </ul>
</header>
