footer {
  background-color: #1b2450;
  font-weight: 500;
}
.icon {
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.6rem;
  margin-right: 1rem;
}
.icon:hover {
  opacity: 0.7;
}
img {
  height: 1.3rem;
  width: 1.3rem;
}
