<footer class="py-3 my-4">
  <ul class="nav d-flex flex-row-reverse border-bottom pb-3 mb-3">
    <li>
      <a class="icon" href="https://github.com/pontance" target="_blank">
        <img src="../../assets/github.svg" alt="github" />
      </a>
      <a class="icon" href="mailto:arthur.quemeras@gmail.com">
        <img src="../../assets/email.svg" alt="email" />
      </a>
      <a
        class="icon"
        href="https://www.linkedin.com/in/arthur-quemeras-131105216/"
        target="_blank"
      >
        <img src="../../assets/linkedin.svg" alt="linkedin" />
      </a>
    </li>
  </ul>
  <p class="text-center text-white">© Copyright 2024 by Arthur Quemeras</p>
</footer>
