<div class="contact">
  <div class="form pack">
    <form [formGroup]="contactForm">
      <div class="form-element">
        <label for="nom">Nom</label>
        <input id="nom" type="text" formControlName="nom" />
      </div>
      <div class="form-element">
        <label for="prenom">Prénom</label>
        <input id="prenom" type="text" formControlName="prenom" />
      </div>
      <div class="form-element">
        <label for="email">E-mail</label>
        <input id="email" type="text" formControlName="email" />
      </div>
      <div class="form-element">
        <label for="telephone">Téléphone</label>
        <input id="telephone" type="text" formControlName="telephone" />
      </div>
      <div class="form-element">
        <label for="objet">Objet</label>
        <input id="objet" type="text" formControlName="objet" />
      </div>
      <div class="form-element">
        <label for="message">Message</label>
        <input id="message" type="text" formControlName="message" />
      </div>
      <div class="action-buttons">
        <button
          type="submit"
          (click)="onSubmitForm()"
          [disabled]="contactForm.invalid"
        >
          Envoyer
        </button>
      </div>
    </form>
  </div>
</div>
