<div class="popup">
  <div class="cross" mat-dialog-close><mat-icon>close</mat-icon></div>
  <h2>{{data.titre}}</h2>
  <p class="intro">{{data.intro}}</p>
  <div class="row">
    <div class="img_column col-12 col-lg-5">
      <img class="img_popup" src="{{data.image_popup}}" alt="" />
    </div>
    <div class="text col-12 col-lg-7">
      <p>{{data.description}}</p>
    </div>
    <div class="technologies">
      <h3>Technologies utilisées :</h3>
      <div class="row">
        <div class="col-4 techno" *ngFor="let techno of data.listeTechnologie">
          <img class="icone" src="{{techno.icone}}" alt="" />
          <p>{{techno.technologie}}</p>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="data.url">
    <a href="{{data.url}}" target="_blank"><button>Voir plus</button></a>
  </div>
</div>
