h2 {
  text-align: center;
  font-size: 48px;
  margin-bottom: 2rem;
  line-height: 3rem;
}
h3 {
  font-size: 22px;
  text-decoration: underline;
}
.intro {
  padding-bottom: 1rem;
  margin: 0 2rem;
  white-space: pre-line;
}
.text {
  max-width: fit-content;
  margin: 2rem 0;
  white-space: pre-line;
}
.img_column {
  display: flex;
  align-items: center;
}
.img_popup {
  width: 80%;
  max-width: 48vw;
  border: 2px solid lightgray;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
button {
  margin: 1rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.popup {
  position: relative !important;
  margin: 0 2rem;
}
.cross {
  position: absolute;
  top: 0;
  right: 0;
}
.technologies {
  padding: 2rem;
}
.icone {
  border: 2px solid black;
  border-radius: 1rem;
  padding: 0.5rem;
  width: 6rem;
}
.techno {
  display: grid;
  justify-content: center;
}
.techno p {
  text-align: center;
  font-weight: 500;
}

@media all and (max-width: 1080px) {
  img {
    width: 100%;
  }
}
