/* You can add global styles to this file, and also import other style files */

html,
body {
  height: auto;
  margin: 0;
}
p {
  line-height: 1.5;
  text-align: justify;
  font-size: large;
}

button {
  border-radius: 2rem !important;
  padding: 0.2rem 0.8rem;
  background-color: #1b2450;
  margin-bottom: 1rem !important;
  color: white;
  font-size: 1.2rem !important;
  letter-spacing: 2px;
  border-color: #1b2450;
}
button:hover {
  background-color: whitesmoke;
  color: black;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #1b2450;
}

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
