.background {
  position: relative;
}
.image {
  background-image: url("../../assets/fond_accueil.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(4px);
  height: 48rem;
}
.texte {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
h1 {
  padding: 1rem 0;
  font-size: 52px;
}
p {
  padding: 1rem 0;
  font-size: 30px;
}
