.background {
  position: relative;
}
.image {
  background-image: url("../../assets/fond_accueil.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(4px);
  height: 48rem;
}
.texte {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
h1 {
  padding: 1rem 0;
  font-size: 52px;
}
p {
  padding: 1rem 0;
  font-size: 30px;
}
button {
  border-radius: 0.5rem;
  padding: 0.2rem 0.6rem;
  background-color: lightgray;
  margin-bottom: 1rem;
  color: black;
  font-size: 1.3rem;
  border: 0;
}
button:hover {
  background-color: rgb(52, 58, 64);
  color: white;
}
