.background {
  position: relative;
}
.image {
  background-image: url("../../assets/fond_accueil.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 48rem;
}
.intro {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 2rem 8rem;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #0c1022;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(4px);
  border-radius: 1rem;
}
.intro h1 {
  padding: 1rem 0;
  font-size: 52px;
  line-height: 52px;
}
.intro p {
  padding: 1rem 0;
  font-size: 30px;
  text-align: center !important;
}

.pack {
  background-color: white;
  margin: 1rem 0;
  border-radius: 1rem;
  padding: 1rem;
}
.paragraphe {
  padding: 1rem 20%;
}
.photo {
  border-radius: 50%;
  //clip-path: ellipse(50% 50%); //image carré
  clip-path: ellipse(33% 50%); // image rectangulaire
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15rem;
}
@media all and (max-width: 1280px) {
  .paragraphe {
    padding: 1rem 5%;
  }
}
