<div class="background">
  <div class="image"></div>
  <div class="intro">
    <h1>Arthur Quemeras</h1>
    <p>Développeur web</p>

    <a
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="nav-link"
      routerLink="cv"
    >
      <button>
        Qui-suis je ?
      </button>
    </a>
  </div>
</div>
<div class="paragraphe">
  <img class="photo" src="../../assets/collectiv.png" alt="" />
  <div class="pack">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ultricies
      maximus orci, eu commodo tortor aliquet vel. Morbi viverra eros sit amet
      mauris sollicitudin tempus. Curabitur vitae bibendum erat. Proin purus
      lacus, feugiat vel eleifend quis, dignissim vitae felis. Ut vel eros id
      tellus elementum convallis sed ut urna. Vestibulum quam sem, volutpat
      vitae vehicula in, euismod id ligula. Nam sapien nibh, sagittis id semper
      ac, tincidunt vitae turpis. Vivamus vehicula pretium vulputate.
    </p>
    <p>
      Proin diam neque, laoreet vitae lorem ac, aliquam tristique ante. Proin
      varius vestibulum ante, a bibendum velit. Nam id magna sed lectus eleifend
      interdum eu quis mauris. Suspendisse feugiat gravida malesuada. Donec
      turpis odio, tincidunt in ex nec, fermentum pellentesque arcu. Cras
      hendrerit imperdiet justo quis eleifend. Class aptent taciti sociosqu ad
      litora torquent per conubia nostra, per inceptos himenaeos. Donec congue
      commodo nunc a ornare. Phasellus eget justo tortor. Maecenas euismod ipsum
      mauris. Nunc tincidunt metus nec tempor tristique.
    </p>
  </div>
</div>
