<div class="background">
  <div class="image"></div>
  <div class="intro">
    <h1>Arthur Quemeras</h1>
    <p>Développeur web</p>

    <a
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="nav-link"
      routerLink="cv"
    >
      <button>
        Qui-suis je ?
      </button>
    </a>
  </div>
</div>
<div class="paragraphe">
  <img class="photo" src="../../assets/collectiv.png" alt="" />
  <div class="pack">
    <p>
      Bonjour, <br />
      <br />
      Je suis <b>développeur Web Junior</b> formé à <b>l'IUT de gradignan</b> et
      vis actuellement à côté de Bordeaux.
    </p>
    <p>
      Récemment diplômé de la <b>licence professionelle DAWIN</b> (développement
      d'application web et innovation numérique) réalisé en alternance et en
      formation autodidacte depuis un an, je souhaite renforcer ces nouvelles
      compétences. <b>Logique et pragmatique</b> j’aimerais intégrer un poste de
      <b>développeur Web full stack</b>
      afin de monter en compétence technique.
    </p>
    <p>
      Passionné par le numérique et le monde qui nous entoure, je suis
      <b>ouvert à tous types de secteurs</b> et pourrait faire profiter de ma .
    </p>
  </div>
</div>
